main {
    display: flex
}

#filtros {
    width: 15%;
    padding: 10px;
    border-right: 2px solid burlywood;
    color: white;
}

#principalContainer {
    width: 85%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#cardContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: aliceblue;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px;
}

 .imgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
 }

 .imgContainer img {
    max-width: 100%;
 }

 @media(min-width: 768px){
    #filtros {
        width: 25%;
    }

    #filtroKilometros {
        display: flex;
        flex-direction: column;
    }

    .filtroPrecio {
        font-size: 0.7rem;
    }
    #principalContainer {
        width: 75%;
    }

    .card {
        width: 25%;
    }
 }

 @media(max-width: 767px) {
    main {
        flex-direction: column;
    }

    #filtros, #principalContainer {
        width: 100%;
    }

    .card {
        width: 75%;
    }
 }