* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    --backgroundColor: black;
    --colorText: burlywood;
}

header {
    background-color: var(--backgroundColor);
    height: 50px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid burlywood;
}

#headerLinks {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerLinks a {
    color: var(--colorText);
    text-decoration: none;
}

#headerLinks a:hover {
    background-color: burlywood;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

#filtros {
    background-color: var(--backgroundColor);
}

main {
    background-color: var(--backgroundColor);
    min-height: 100vh;
}

/* Footer */
footer {
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-top: 2px solid burlywood;
}

#footerLinks {
    width: 90%;
    margin: 10px;
    display: flex;
    color: var(--colorText)
}

#socialContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#socialContainer a {
    width: fit-content;
    color: var(--colorText);
    text-decoration: none;
}

#contactoContainer {
    width: 50%;
}

#iframeMapa {
    width: 90%;
}

@media (max-width:575px) {
    #headerLinks{
        width: 100%;
    }
    
    #footerLinks {
        flex-direction: column;
        align-items: center;
    }

    #contactoContainer{
        margin: 15px 0;
    }
}